@model SignUpUserModel
<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width" />
<title>SignUp</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="~/css/signUpStyle.css" asp-append-version="true" />
<body>

<form asp-action="SignUp" style="border:1px solid #ccc">
  <div class="container">
    <h1>Sign Up</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>
            <div asp-validation-summary="ModelOnly" style="color:red;"></div>
    <div>
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName"/>
                <span asp-validation-for="FirstName" ></span>
    </div>

            <div >
                <label asp-for="LastName" ></label>
                <input asp-for="LastName"  />
                <span asp-validation-for="LastName" ></span>
            </div>
            <div>
                <label asp-for="Email"></label>
                <input asp-for="Email" />
                <span asp-validation-for="Email" ></span>
            </div>
            <div>
                <label asp-for="Password" ></label>
                <input asp-for="Password" />
                <span asp-validation-for="Password" ></span>
            </div>
            <div >
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword" ></span>
            </div>
           
    <div>
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
  </div>
</form>

</body>
</html>

