@model Participant
<div class="container">
    <form method="post">
        <div class="row">
            <div class="col-25">
                <label asp-for="Name"></label>
            </div>
            <div class="col-75">
                <input type="text" asp-for="Name" placeholder="Name">
                <span asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label asp-for="Department"></label>
            </div>
            <div class="col-75">
                <input type="text" asp-for="Department" placeholder="Department">
                <span asp-validation-for="Department"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label asp-for="Position"></label>
            </div>
            <div class="col-75">
                <input type="text" asp-for="Position" placeholder="Position">
                <span asp-validation-for="Position"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label asp-for="Email"></label>
            </div>
            <div class="col-75">
                <input type="text" asp-for="Email" placeholder="Email">
                <span asp-validation-for="Email"></span>
            </div>
        </div>
        
        <div class="row">
            <input type="submit" value="Submit">
        </div>
    </form>
</div>