@model IEnumerable<Participant>
<table id="participants">
    <tr>
        <th>Name</th>
        <th>Department</th>
        <th>Position</th>
        <th>Email</th>
        <th>Action</th>
    </tr>
    @foreach ( var participant in Model)
    {
        <tr>
            <td>@participant.Name</td>
            <td>@participant.Department</td>
            <td>@participant.Position</td>
            <td>@participant.Email</td>
            <td>
                <a class="button" asp-route-Id=@participant.Id asp-action="Delete">Delete</a><a class="button button-1" asp-route-Id=@participant.Id asp-action="Edit">
                    Edit
                </a><a class="button button-2" asp-route-Id=@participant.Id asp-action="Confirm">Confirm</a>
            </td>
        </tr>
    }
    </table>
