@model PaginatedList<Participant>
<div class="containers">
<form asp-controller="Home" asp-action="InitialList" >
    <div class="row">
            <div class="col-75">
                <input type="text" class="searchBar" name="SearchText" />
              </div>
            <div class="col-25">
                <button type="submit" class="searchbtn">Search</button>
              </div>
    </div>
</form>
</div>
<table id="participants">
    <tr>
        <th>Name</th>
        <th>Department</th>
        <th>Position</th>
        <th>Email</th>
        <th>Action</th>
    </tr>
    @foreach ( var participant in Model)
    {
        <partial name="_InitialTr" model="participant"></partial>
    }
    </table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<div id="pn">
<a asp-action="InitialList" 
asp-route-pageNumber="@(Model.PageIndex-1)"
class="pn"
>
    Previous
</a>
<a asp-action="InitialList"
   asp-route-pageNumber="@(Model.PageIndex+1)"
   class="pn"
>
    Next
</a>
</div>