@{
    Layout = "_AdminLayout";
}
@model PaginatedList<Participant>
<div class="containers">
    <form asp-controller="Admin" asp-action="Index" method="get">
        <div class="row">
            <div class="col-75">
                <input type="text" class="searchBar" name="SearchText" />
            </div>
            <div class="col-25">
                <button type="submit" class="searchbtn">Search</button>
            </div>
        </div>
    </form>
</div>
<div class="containers">
    <form asp-controller="Admin" asp-action="Index" method="get" id="formId">
        <label class="container1">
            HR
            @if(ViewBag.HR=="HR")
            {
                <input type="checkbox" class="checkboxId" name="HR" value="HR" checked>
            }
            else{
                <input type="checkbox" class="checkboxId" name="HR" value="HR" >
            }
            
        </label>
        <label class="container1">
            Devlopment
            @if (ViewBag.Devlopment == "Devlopment")
            {
                <input type="checkbox" class="checkboxId" name="Devlopment" value="Devlopment" checked>
            }
            else{
                <input type="checkbox" class="checkboxId" name="Devlopment" value="Devlopment">
            }
            
        </label>
</form>
</div>
<table id="participants">
    <tr>
        <th>Name</th>
        <th>Department</th>
        <th>Position</th>
        <th>Email</th>
        <th>Action</th>
    </tr>
    @foreach (var participant in Model)
    {
        <partial name="_InitialTr" model="participant"></partial>
    }
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<div id="pn">
    @{
        var dp="";
        if (ViewBag.HR == "HR" && ViewBag.Devlopment == "Devlopment")
            dp = "both";
        else if (ViewBag.HR == "HR")
            dp = "HR";
        else if (ViewBag.Devlopment == "Devlopment")
            dp = "Devlopment";
        
    }
    <a asp-action="Index"
      asp-route-dept=@dp
       asp-route-pageNumber="@(Model.PageIndex-1)"
       
       class="pn">
        Previous
    </a>
     <form style="display:inline" asp-controller="Admin" asp-action="Index">
        <input type="number" style="margin-left:10px;width:60px" name="page" />
        <button type="submit" class="gotobtn">Goto</button>
    </form>
    <a asp-action="Index"
       asp-route-dept=@dp
       asp-route-pageNumber="@(Model.PageIndex+1)"
       
       class="pn">
        Next
    </a>
    @{
        var StartPage = Math.Max(Model.PageIndex - 1, 1);
        var EndPage = StartPage + 2;
        <ul>
            @for (var pge = StartPage; pge <= EndPage; pge++)
            {
                <li id="pageL" class="@(pge==Model.PageIndex ? "active":"") ">
                    <a asp-action="Index"
               asp-route-pageNumber="@pge"
               class="pageNum">
                        @pge
                    </a>
                </li>
            }
        </ul>
    }
</div>